/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto-v29-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/roboto-v29-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v29-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.shop-now:hover,
a:hover,
.remove-from-cart:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.App {
  min-height: 100vh;
  background-color: #121212;
  color: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  align-self: stretch;
  background-color: #212529;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.shop-name > span {
  color: #efb90a;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  font-size: 18px;
}

.nav > li:hover,
.cart:hover {
  transform: scale(1.1);
  cursor: pointer;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

.active {
  color: #efb90a !important;
  border-bottom: 2px solid #efb90a;
}

.cart {
  position:relative;
}

.item-cnt {
  z-index: 10;
  background-color: #027db5;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 4px;
  right: 2px;
}

#shop-logo {
  width: 40px;
  height: auto;
}

#shopping-cart {
  width: 40px;
  height: auto;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.home {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.intro-text span {
  color: #efb90a;
}

.intro-text p {
  color: #a0a0a0
}

.shop-now {
  color: #121212 !important;
  font-weight: 900;
  margin-top: 70px;
  align-self: center;
  padding: 6px 40px;
  border: none;
  border-radius: 20px;
  background-color: #efb90a;
}

#crypto {
  height: 400px;
  width: auto;
  border-radius: 24px;
}

.contact {
  width: 800px;
  padding-bottom: 120px;
}

.contact > h1 {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 100px;
  border-bottom: 2px solid #efb90a;
}

.contact-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-logo {
  height: 100px;
  width: 100px;
}

#github > img {
  height: 98px;
  width: 98px;
}

#github {
  background-color: #ebebeb;
  border-radius: 50%;
  padding: 1px 2px;
}

.product {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.coin-container {
  flex: 1;
  min-width: 160px;
  height: 200px;
  background-color: #ebebeb;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
}

.coin-container:hover {
  transform: scale(1.05);
}

.coin-container h3 {
  margin-bottom: 10px;
}

.coin-logo {
  height: 50px;
  width: auto;
}

.price-row {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
}

.buy-now {
  color: #ebebeb !important;
  font-size: 14px;
  font-weight: 900;
  align-self: center;
  padding: 4px 20px;
  border: none;
  border-radius: 20px;
  margin-top: 6px;
  background-color: #212529;
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  pointer-events: all;
  z-index: 20;
}

.cart-page {
  background-color: #121212;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 360px;
  z-index: 30;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

.cart-page h3 {
  width: 160px;
  text-align: center;
  padding-bottom: 6px;
  border-bottom: 2px solid #efb90a;
  margin-bottom: 18px;
}

.cart-page button {
  font-weight: 900;
  align-self: center;
  padding: 6px 40px;
  border: none;
  border-radius: 20px;
  width: 220px;
  margin: 0 auto 10px;
}

.checkout {
  color: #121212 !important;
  background-color: #efb90a;
}

.continue-shopping {
  color: #ebebeb !important;
  background-color: #212529;
}

.cart-item-display {
  margin-bottom: 18px;
}

.cart-item {
  background-color: #212529;
  margin-bottom: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding: 16px 40px;
  border-radius: 16px;
}

.cart-item .left {
  background-color: #ebebeb;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item img {
  height: 50px;
  width: auto;
}

.cart-item input {
  width: 70px;
  padding: 0 4px;
  margin: 0 6px;
  font-size: 16px;
}

.remove-from-cart {
  margin-top: 2px;
  color: #b60c0c;
  width: 70px;
}